.imageUpload {
  display: flex;
  flex-direction: column;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;

  background-color: white;
}

.imageUpload__icon {
  height: 30px;
  width: auto;
}
.imageUpload__icon:hover {
  color: rgb(46, 125, 253);
}

.imageUpload__icon:active {
  color: rgb(150, 186, 253);
}

.imageUpload__modal {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-items: center;
}

.imageUpload__modal > * {
  margin-bottom: 10px;
}
